
/* GENERAL RULES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  height: 100vh;
  position: relative;
}
.interface {
  display: flex;
  flex-direction: column;
}
/* STRUCTURE */
.main {
  display: flex;
  flex-grow: 1;
}

/* NAVBAR */
.navbar {
  flex-basis: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.sidemenu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* logo */
.sidemenu .logo {
  height: 95px;
  display: flex;
  justify-content: flex-start;
}
.sidemenu .logo img {
  width: 60%;
  margin-left: 20px;
}
  /* navigation */
.sidemenu .navigation {
  color: white;
}
.sidemenu .navigation li {
border-left: 2px solid black;
display: flex;
align-items: center;
padding: 5px;
padding-left: 15px;
opacity: 0.6;
}
.sidemenu .navigation li:first-child {
border-left: 2px solid #acfe2e;
opacity: 1;
}
a {
  color: white;
  text-decoration: none;
}
.sidemenu .navigation li img {
  width: 25px;
  margin-right: 10px;
}
/* playlist */
.sidemenu .playlist {
  padding-left: 17px;
  margin-top: 20px;
}
.sidemenu .playlist h3 {
  font-size: 16px;
  color: white;
}
.sidemenu .playlist .box {
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidemenu .playlist .box i {
  color: black;
  font-size: 18px;
}
.sidemenu .playlist a p {
  font-size: 16px;
  padding-left: 10px;
}
.sidemenu .playlist a {
  display: flex;
  align-items: center;
}
.sidemenu .playlist li {
  color: white;
  opacity: 0.6;
  list-style: none;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Account */
.account {
  padding-left: 17px;
  padding-right: 17px;
}
/* install app */
.account .install {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
}
.account .install .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
.account .install .circle i {
  font-size: 6px;
  color: white;
}
.account .install a {
  display: flex;
  align-items: center;
}
.account .install p {
  font-size: 12px;
  margin-left: 10px;
}
/* login */
.account .login {
  margin-top: 12px;
  margin-bottom: 7px;
}
.account .login .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7f7f7f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
.account .login .circle i {
  font-size: 16px;
  color: white;
}
.account .login a {
  display: flex;
  align-items: center;
}
.account .login p {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 800;
}

/* Albumside */
.albumside {
  flex-grow: 1;
  background-color: #141921;
  position: relative;
}
.upgradepremium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: black;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
}
.upgradepremium h3 {
  color: white;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 50px;;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  font-weight: 600;
}
.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow-y: auto;
}
.player {
  background-color: #272727;
  flex-basis: 80px;
}
