
/* GENERAL RULES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  position: relative;
}
.interface {
  display: flex;
  flex-direction: column;
}
/* STRUCTURE */
.main {
  display: flex;
  flex-grow: 1;
}

/* NAVBAR */
.navbar {
  flex-basis: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.sidemenu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.sidemenu .logo {
  height: 95px;
  display: flex;
  justify-content: flex-start;
}
.sidemenu .logo img {
  width: 60%;
  margin-left: 20px;
}
.sidemenu .navigation {
  color: white;

}
.sidemenu .navigation li {
border-left: 2px solid black;
display: flex;
align-items: center;
padding: 5px;
padding-left: 15px;
opacity: 0.6;
}
.sidemenu .navigation li:first-child {
border-left: 2px solid #acfe2e;
opacity: 1;
}
a {
  color: white;
  text-decoration: none;
}
.sidemenu .navigation li img {
  width: 25px;
  margin-right: 10px;
}
.account {
  flex-basis: 80px;
}
.albumside {
  flex-grow: 1;
  background-color: #141921;
  position: relative;
}
.upgradepremium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: black;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
}

.upgradepremium h3 {
  color: white;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 50px;;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;

}
.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  overflow-y: auto;
}
.player {
  background-color: #272727;
  flex-basis: 80px;
}
